<!DOCTYPE html>
<html>
  <head>
    <title>Devisepro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script
 src="https://code.jquery.com/jquery-3.6.0.min.js"
 integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
 crossorigin="anonymous"></script>

  </head>

  <body style="background-image: url('assets/logo/cute3.jpg') ; background-repeat: no-repeat;background-size: 1500px 700px;" >
<!-- 
    background-image: url("img_tree.png");
  background-repeat: no-repeat; -->
     <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <%#= image_tag "logo/images.jpeg",height: 200,width:300 %>



    <%= yield %>
  </body>
</html>
